<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/stylePostPage.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="row">
        <!---start-wrap---->
        <div class="wrap">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            <!---start-sidebar---->
            <div class="left-sidebar">
                <div class="logo">
                    <img src="/images/logo.png" title="logo" />
                  
                </div>
                <div class="top-nav">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("All Posts ", "PostList", "Account")</li>
                        <li>@Html.ActionLink("My Page", "PersonalPage", "Account")</li>
                        <li>@Html.ActionLink("Make new Post ", "CreatPost", "Account")</li>
                        <li>
                            @{
                                string name = HttpContext.Current.User.Identity.Name;
                                if (!string.IsNullOrEmpty(name))
                                {
                                    @Html.ActionLink(HttpContext.Current.User.Identity.Name + " | Logout ", "Logout", "Account")
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
            <!----start-content----->
            <div class="content">
                <div class="grids">
                    @RenderBody()

                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="right-sidebar">
                <div class="search-bar">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" />
                        <input type="submit" value="" />
                    </form>
                </div>
                <div class="clear"> </div>
                <div class="featured-Videos">
                    <h3>Featured Videos</h3>
                    <a href="#"><img src="/images/videos.jpg" title="videos" /></a>
                </div>
                <div class="popular-post">
                    <h3>popular-posts</h3>
                    <div class="post-grid">
                        <img src="/images/videos.jpg" title="post1">
                        <p>Lorem ipsum dolor sit ametconsectetur dolor,<a href="#"></a>...</p>
                        <div class="clear"> </div>
                    </div>
                    <div class="post-grid">
                        <img src="/images/videos.jpg" title="post1">
                        <p>Lorem ipsum dolor sit ametconsectetur dolor,<a href="#"></a>...</p>
                        <div class="clear"> </div>
                    </div>
                    <div class="view-all">
                        <a href="#">ViewAll</a>
                    </div>
                </div>
                <div class="clear"> </div>
                <div class="featured-Videos">
                    <h3>Recent Videos</h3>
                    <a href="#"><img src="/images/videos.jpg" title="videos" /></a>
                </div>
                <div class="fallowers">
                    <h3>Followers</h3>
                    <ul>
                        <li><a href="#"><img src="/images/videos.jpg" title="name"></a></li>
                        <li><a href="#"><img src="/images/videos.jpg" title="name"></a></li>
                        <li><a href="#"><img src="/images/videos.jpg" title="name"></a></li>
                        <li><a href="#"><img src="/images/videos.jpg" title="name"></a></li>
                        <li><a href="#"><img src="/images/videos.jpg" title="name"></a></li>
                        <li><a href="#"><img src="/images/videos.jpg" title="name"></a></li>
                    </ul>
                </div>
            </div>
            <!---end-sidebar---->
        </div>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/bootstrap")

@*<script>
    $(".HomeJs").click(function (e) {
        e.preventDefault();
        var ele = $(this);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/Home/Index",
            success: function (date) {
                alert(date);
                //alert("i am in ");
            }

        })
    })
</script>*@