@model IEnumerable<Aphrie.Project.UI.Models.PostViewModel>

@{
    ViewBag.Title = "Personal Page";
}
    <link href="~/Content/styleforbutton.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
<h2 style="color:black"> Personal Page</h2>
<hr />
<p>
    @Html.ActionLink("Creat New Post", "CreatPost", "Account", new { @class = "button button-2" })

</p>
   
@foreach (var item in Model)
{
    <div class="grid box">
        <div class="grid-header">
            <h3>@item.createBy</h3>
            <ul>
                <li><span>Post By @item.createBy on @item.CreatedDate with</span></li>
                <li><a href="#"> @*5 comments*@</a></li>
            </ul>
        </div>
        <div class="grid-img-content">

            <a href="singlepage.html">
                <img src=@item.Image style="width:200px;height:200px" />
            </a>

            <p>
                @Html.Raw(item.Content)
             
            </p>
            <div class="clear "> </div>
        </div>
       
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { item.Id },new {@class = "btn btn-danger btnMypage" })
                @*<li><a href="#"><img src="/images/views.png" title="view" /></a></li>
                    <li><a href="#"><img src="/images/likes.png" title="likes" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="link" /></a></li>
                    <li><a class="readmore" href="singlepage.html">ReadMore</a></li>*@
           
      
    </div>
}

@*<style>
    .btnMypage {
        margin: 10px;
        etter-spacing: 0.1em;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        max-width: 88px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
    
    }
</style>*@