@model IEnumerable<Aphrie.Project.UI.Models.PostViewModel>

@{
    ViewBag.Title = "Personal Page";
}
    <link href="~/Content/styleforbutton.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <h3 style="color:black"> <strong>Personal Page</strong> </h3>
<hr />
<p>
    @Html.ActionLink("Creat New Post", "CreatPost", "Account", new { @class = "button button-2" })

</p>
   
@foreach (var item in Model)
{
    <div class="grid box">
        <div class="grid-header">
            <h3>@item.createBy</h3>
            <ul>
                <li><span>Post By @item.createBy on @item.CreatedDate with</span></li>
                <li><a href="#"> @*5 comments*@</a></li>
            </ul>
        </div>
        <div class="grid-img-content">

            <a href="singlepage.html">
                <img src=@item.Image style="width:200px;height:200px" />
            </a>

            <p>
                @Html.Raw(item.Content)
             
            </p>
            <div class="clear "> </div>
        </div>
       
                @Html.ActionLink("Delete", "Delete", new { item.Id },new {@class = "btn btn-danger btnMypage" })
    </div>
}

