@model IEnumerable<Aphrie.Project.UI.Models.PostViewModel>

@{
    ViewBag.Title = "Posts";

}
<link href="~/Content/Site.css" rel="stylesheet" />
<h3 style="color:black">
    <strong>Posts of your Follwing</strong>
</h3>
<hr />

@foreach (var item in Model)
{
<div class="grid box">
    @if (@item.CreaterImage!=null)
    {
        <img src=@item.CreaterImage class="ImageOfCreator" />
    }
    else
    {
        <img src="~/images/figer.jpg" class="ImageOfCreator" />
    }
    <div class="grid-header">

        <h3>@item.createBy Posted</h3>
        <ul>
            <li><span>Post By @item.createBy on @item.CreatedDate </span></li>
            @* <li><a href="#"> 5 comments</a></li>*@
        </ul>
    </div>
    <div class="grid-img-content">

        <a href="singlepage.html">
            <img src=@item.Image style="        width: 300px;
        height: 300px
" />
        </a>

        <p id="text" style="color: black !important; font-size: 20px !important;">
            @{var text = @Html.Raw(item.Content);}
            @text
        </p>
        <div class="clear"> </div>
    </div>
    <div class="comments">
        <ul>
            <li><a href="#"><img src="/images/views.png" title="view" /></a></li>
            <li><a href="#"><img src="/images/likes.png" title="likes" /></a></li>
            <li><a href="#"><img src="/images/link.png" title="link" /></a></li>
            <li><a class="readmore" href="#">ReadMore</a></li>
        </ul>
    </div>
</div>
}
